body {
    margin: 0%;
    background-color: rgb(96, 113, 91);
}
header {
    background-image: linear-gradient(to right, rgb(173, 204, 153), rgb(118, 143, 82) 50%, rgb(173, 204, 153));
    padding: 0.4%;
    display: flex;
    justify-content: space-around;
} 
header img {
    width: 10%;
}
header h1 {
    color: rgb(64, 147, 63);
    margin: auto;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(53, 71, 11);
}
div#links {
    display: flex;
    background-image: linear-gradient(to right, rgb(173, 204, 153), rgb(118, 143, 82) 50%, rgb(173, 204, 153));
    padding: 0.2%;
    border-bottom: 1px black solid;
}
div#links a {
    color: white;
    display: block;
    text-align: center;
    font-size: 15px;
    background-color: rgb(71, 82, 54);
    width: fit-content;
    margin: 0.5% auto;
    border-radius: 10px;
    padding: 0.5%;
    font-family: "System Font Regular";
    transition: transform 0.3s;
    text-decoration: none;
}
div#links a:hover {
    color: white;
    border: 0.1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    background-color: rgb(133, 156, 99);
    transform: scale(1.1);
  }
div h2 {
    font-size: 1.3em;
    margin: 0%;
    align-self: center;
    color: rgb(18, 85, 98);
}
p a {
    font-size: 1em;
    font-family: "System Font Regular";
    text-align: left;
  }
p a:hover {
    color: red;
    font-family: "System Font Regular";
    text-decoration: underline;
  }
main {
    width: auto;
    display: flex;
    align-content: center;
}
div#portfolio {
    display: flex;
    flex-direction: column;
    background-color: rgb(83, 137, 75);
    justify-content: space-evenly;
    width: 30%;
    border-left: 1px black solid;
}
div#portfolio img, video {
    width: 90% ;
    margin: 5%;
}
div#texto {
    background-color: rgb(72, 113, 65);
    width: 100%;
    height: auto;
    align-content: center;
}
div#t1 {
    background-color: azure;
    width: auto;
    padding: 2%;
    margin: 3%;
    border-radius: 1%;
}
div#t1 p {
    font-size: 1.2em;
}
h1.t1 {
    color: rgba(80, 160, 51, 0.87);
    margin: auto;
    text-shadow: 1px 1px 1px rgb(38, 51, 6);
}
div#redes {
    margin: 1%;
    width: fit-content;
}
footer {
    background-color: rgb(96, 113, 91);
    padding: 0.009%;
    flex-direction: column;
    text-align: center;
    height: auto;
}
footer div#redes img {
    width: 1.5%;
    margin: 0.05%;
}
footer a {
    color: black;
}
footer a:hover {
    color: rgb(94, 94, 94);
    transition: transform 0.3s;
}
footer p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}