body {
    margin: 0px;
}
header {
    text-align: center;
    background-color: rgb(106, 135, 62);
    margin-block: 0px;
    padding: 10px;
}
h1 {
    color: rgb(101, 35, 35);
    margin: 3px;
}
div#links {
    display: flex;
    background-color: rgb(106, 118, 88);
}
a {
    margin: auto;
}
div h2 {
    font-size: 20px;
}
main {
    display: flex;
}
div#portfolio {
    margin-inline-end: 100%;
    display: inline-flexbox;
    background-color: rgb(121, 69, 69);
}
div#portfolio img {
    width: 50px;
    padding: 30px;
}
div#texto {
    width: 500px;
    background-color: rgb(150, 193, 193);
    width: auto;
    padding: 30px;
}
div#t1 {
    background-color: azure;
    width: 300px;
    padding: 10px;
}