body {
    width: 100%;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(190deg, #213c5e, #26658C, #f27777, #f25757, #bf3b3b);
}

header {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-image: linear-gradient(90deg, #1f395b82, #304b6f82, #1d396981, #2a1d6868, #10254082);
}

div#imagem-esquerda {
    width: 13%;
    height: auto;
    align-content: center;
    margin-left: 2%;
    div {
        display: flex;
        justify-content: left;
    }
    div img {
        width: 100%;
        height: 100%;
    }
}

div#imagem-direita {
    width: 13%;
    height: auto;
    align-content: center;
    margin-right: 2%;
    div {
        display: flex;
        justify-content: right;
    }
    div img {
        width: 60%;
        height: 40%;
    }
}

#titulo-form {
    font-size: 2.5rem;
    color: rgb(104, 110, 200);
    text-shadow: 2px 2px 2px black;
    align-content: center;
}

nav {
    width: 100%;
    background-color: #00114e5c;
    display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 2px solid rgb(28, 27, 106);
  }

  li a:hover:not(.ativo) {
    background-color: #110640;
  }
  
  .ativo{
    background-color: #16134b;
  }

main {
    width: 100%;
    justify-content: center;
    display: flex;
}

#cabeca-formulario {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
        #texto-esquerda {
            width: 50%;
            justify-content: left;
        }
        #botao-direita {
            display: flex;
            width: 50%;
            justify-content: right;
        }
}

#titulo-secundario {
    font-size: 2rem;
    text-align: left;
    color: rgb(163, 0, 0);
}

input[type=text], [type=number], select, input[type=date], input[type=date], input[type=datetime], input[type=email], input[type=month], input[type=password], input[type=range], input[type=tel], input[type=time], input[type=week], [type=datetime-local] {
    width: 85%;
    padding: 1% 1%;
    font-size: 1rem;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #490000;
    border-radius: 4px;
    box-sizing: border-box;
}

#cor {
    display: flex;
    align-items: center;
}

input[type=submit] {
    background-color: rgba(0, 136, 2, 0.749);
    color: white;
    padding: 1%;
    font-size: 1rem;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: transform 0.5s;
}

input[type=time] {
    width: 40%;
}

[type=datetime-local] {
    width: 40%;
}

input[type=submit]:hover {
    background-color: rgba(0, 90, 2, 0.749);
    transform: scale(1.1);
}
input[type=reset] {
    background-color: rgba(136, 0, 0, 0.749);
    color: white;

    font-size: 1rem;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: transform 0.5s;
}

input[type=reset]:hover {
    background-color: rgba(90, 0, 0, 0.749);
    transform: scale(1.1);
}

input[type=button] {
    background-color: rgb(0, 6, 129);
    color: white;
    padding: 2% 3%;
    font-size: 1rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: transform 0.5s;
}

input[type=button]:hover {
    background-color: rgb(0, 5, 81);
    transform: scale(1.1);
}

#alinhamento-de-botoes {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    gap: 2%;
}

#form-ajuste {
    display: flex;
}

#formulario {
    padding: 2%;
    width: 70%;
    height: 80%;
    display: block;
    background-color: rgba(162, 174, 182, 0.699);
    justify-content: space-between;
}

#form-direito, #form-esquerdo {
    width: 50%;
}
.selecao {
    text-align: left;
}

.radio {
    background-color: #cccccc00;
}

.radio li {
    float: none;
    display: flex;
    color: #190087;
}

.caixa-maior {
    width: 5%;
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    display: block;
    margin: 1%;
}
div.selecao textarea {
    width: 85%;
  }

div#redes {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1%;
    padding: 0.7%;
}
footer {
    display: flex;
    background-color: rgba(116, 116, 116, 0.742);
    flex-direction: column;
    text-align: center;
    height: auto;
}

div#redes a {
    width: 1.5%;
}
div#redes img {
    width: 130%;
}

footer a {
    color: rgb(0, 0, 0);
}
footer a:hover {
    color: rgb(54, 54, 54);
    transition: transform 0.3s;
}
footer p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#termo-logo {
    display: inline-flex;
    width: 100%;
}
#termo {
    width: 80%;
    text-align: center;
    p {
        margin-top: 0.1%;
    }
}
.logo {
    width: 10%;
}

footer img {
    width: 50%;
}

@media screen and (min-width: 2560px){
 
    * {
        font-size: 1.4rem;
        #titulo-form {
            font-size: 3rem;
        }
    }
    footer img {
        width: 50%;
    }
    #formulario label {
        font-size: 100%;
    }
}

@media screen and (min-width: 1440px){
    footer img {
        width: 50%;
    }
}

@media screen and (max-width: 1024px){
 
    #titulo-form {
        font-size: 2.2rem;
    }
    div#imagem-esquerda {
        width: 20%;
    }
    
    div#imagem-direita {
        width: 15%;
    }

    div#redes a {
        width: 3%;
    }

    #alinhamento-de-botoes {
        gap: 2%;
    }
    div#redes img {
        width: 90%;
    }
    footer img {
        width: 75%;
    }
}

@media screen and (max-width: 768px){
    #reajuste {
        display: flex;
    }
    #formulario {
        width: 100%;
        background-color: #cccccc00;
        padding: 1%;
        label {
            padding: 0.5%;
        }
    }
    #titulo-form {
        font-size: 2rem;
    }
    #titulo-secundario {
        font-size: 1.3rem;
    }
    nav {
        flex-direction: column;
        width: 20%;
         li {
            width: 100%;
         }
    }
    div#imagem-esquerda {
        width: 20%;
    }
    
    div#imagem-direita {
        width: 20%;
    }
    #formulario {
        padding: 1%;
    }
}
@media screen and (max-width: 426px){
    #titulo-form {
        font-size: 1.2em;
    }
    #titulo-secundario {
        font-size: 1rem;
    }

    div#redes {
        gap: 3%;
    }
    div#redes img {
        width: 150%;
        align-items: center;
    }
    #termo-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer img {
        width: 130%;
    }
    footer {
        font-size: 70%;
    }
    label {
        font-size: 80%;
    }
    input[type=time] {
        width: 50%;
    }
    
    input[type=datetime-local] {
        font-size: 100%;
        width: 90%;
    }
    input[type=button], input[type=submit], input[type=reset] {
        padding: 3% 5%;
    }
    #alinhamento-de-botoes {
        gap: 3%;
    }
}
@media screen and (max-width: 376px){
    #titulo-secundario {
        font-size: 1rem;
    }
    input[type="button"], input[type="submit"], input[type="reset"]{
        padding: 2%;
    }
    #titulo-secundario {
        font-size: 0.8rem;
    }
    nav {
        width: 25%;
        li {
            font-size: 0.8rem;
        }
    }
    footer img {
        width: 130%;
    }
    nav li {
        font-size: 1rem;
    }

    #form-ajuste {
        flex-direction: column;
        #form-direito, #form-esquerdo {
            width: 100%;
        }
        label {
            font-size: 90%;
            width: 90%;
        }
        input {
            width: 80%;
        }
        input[type=color] {
            width: 10%;
        }
        input[type=radio], input[type=checkbox] {
            width: 10%;
        }
    }
    #titulo-form {
        font-size: 1rem;
    }
}